
body{
    background:linear-gradient(#4AC9DF, #092c50) ;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#cv-form{
    /* display: none; */
}

#cv-template{
    display: none;
}

.myimg{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px
}

.background{
    background-color: #ffa6029a;
    margin-top: 0%; 
}

/* .text{
    background-color: white;
    border-color: none;
    color: black;
} */

.img{
    border: white;
}
.btn{
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}
.btn:hover{
    background-color: aqua;
}

.btn1{
    border-color: #ffc107;
    border-radius: 5px;
    padding: 5px;
}
.btn1:hover{
    box-shadow: -5px -5px 6px 0 #ffa6029a, 5px 5px 6px 0 #ffc107;
    
}